
*.env


airflow/airflow.env



venv/
env/
ENV/
VENV/
*.venv

__pycache__/
*.py[cod]
*$py.class


dist/
build/
*.egg-info/
*.egg
*.whl



postgres_app_data/
postgres_airflow_data/


docker-compose.override.yml
docker-compose.override.yaml



airflow/logs/*
!airflow/logs/.gitkeep # Baris ini opsional, untuk menjaga folder logs/ tetap ada di repo jika kosong





.vscode/
.idea/
*.project
*.classpath
*.cproject
*.tmproj
*.sublime-project
*.sublime-workspace



.DS_Store
.AppleDouble
.LSOverride


Thumbs.db
ehthumbs.db
Desktop.ini



*~
*.swp
*.swo
*.bak