# airflow/airflow.env.example
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres_airflow_db:5432/airflow_db
AIRFLOW__WEBSERVER__SECRET_KEY=GANTI_DENGAN_KUNCI_RAHASIA_ACAK_YANG_PANJANG_DAN_AMAN_MILIK_ANDA
AIRFLOW_CONN_POSTGRES_APP_CONN=postgresql://appuser:apppassword@postgres_app_db:5432/user_data_db
KAFKA_BROKER_URL_FOR_DAG=kafka:29092